//color variables
$ivory: #FFF5ED;
$black: #000;
$royal-blue: #1309F2;

//color usage variables
$background-color: $ivory;
$text-color--primary: $black;
$text-color--accent: $royal-blue;

//font variables
$font-stack--playfair: 'Playfair Display';
$font-stack--roboto: 'Roboto';

//font weights
$font-weight--bold: 700;
$font-weight--ultralight: 100;
$font-weight--medium: 300;
